.jumbotron {
    height: 100%;
    width: 100%;
}

#container {
    margin: 10px 30px 0px !important;
}

#header {
    text-align: center;
    width: 100%;
    height: 130px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgba(201, 175, 84, 0.4);
}

#textEntry {
    background: rgba(201, 175, 84, 0.4);
    color: white;
    font-size: 30px;
}

#headerTitle {
    color: white;
    font-family: 'Monoton', cursive;
}

#frontRow {
    font-family: 'Monoton', cursive;
    font-size: 10px;
    text-align: right;
    color: white;
}

#logo {
    font-family: 'Monoton', cursive;
    font-size: 25px;
    color: white;
}


#parentFooter {
    text-align: center;
}

#footerText {
    display: inline-block;
    font-family: 'Indie Flower', cursive; 
    font-size: 15px;
    z-index: 2;
}

body {
    background: url('./images/bike_sillouette_city2.jpg') no-repeat center center fixed;
    background-size: cover;
}


/* font-family: 'Sniglet', cursive;
font-family: 'Srisakdi', cursive;
font-family: 'ZCOOL QingKe HuangYou', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Shadows Into Light', cursive;
font-family: 'Iceberg', cursive;
font-family: 'Monoton', cursive;
font-family: 'Indie Flower', cursive; */

/* #bearPic {
    height: 5%;
    width: 5%;
    background-repeat: repeat-x;
    z-index: 1;
} */


