.jumbotron {
    height: 100%;
    width: 100%;
}

#container {
    margin: 10px 30px 0px !important;
}

#header {
    text-align: center;
    width: 100%;
    height: 130px;
    padding-top: 14px;
    padding-bottom: 22px;
    background: rgba(201, 175, 84, 0.4);
}

#textEntry {
    background: rgba(201, 175, 84, 0.4);
    color: white;
    font-size: 15px;
    margin-bottom: 10px;
}

.descrip {
    font-size: 18px;
    font-family: 'Avenir', Book; 
    line-height: 1.3;
}


#headerTitle {
    color: white;
    font-family: 'Monoton', cursive;
    font-size: 52px;
    line-height: 1.2;
}

#headerDescrip {
    font-family: 'Avenir', Book Oblique;
    font-size: 35px;
    line-height: 1.2;
    text-align: center;
    color: white;
    font-style: italic;
}


/* #frontRow {
    font-family: 'Monoton', cursive;
    font-size: 10px;
    text-align: right;
    color: white;
} */

#logo {
    font-family: 'Monoton', cursive;
    font-size: 25px;
    color: white;
}
#map {
    height: 400px;
    width: 100%; 
}

#footContainer {
    text-align: center;
    display: inline-block;
    background: rgba(201, 175, 84, 0.4);
    color: white;
    font-family: 'Avenir', Book Oblique;
    font-size: 17px;
    height: 100px;
    width: 100%;
    line-height: 1.2;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

#parentFooter {
    display: inline-block;
    line-height: 1.2;
}

#footerText {
    display: inline-block;

    font-family: 'Avenir', Book Oblique;
    font-size: 17px;
    color: white;
    z-index: 2;
}

#footerLowText {
    display: inline-block;

    font-family: 'Avenir', Book Oblique;
    font-size: 17px;
    color: white;
    z-index: 2;
}

ul {
    margin: 0px 0px 0px !important;
    color: white;
}

body {
    background: url('./images/bike_sillouette_city2.jpg') no-repeat center center fixed;
    background-size: cover;
}


/* font-family: 'Sniglet', cursive;
font-family: 'Srisakdi', cursive;
font-family: 'ZCOOL QingKe HuangYou', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Shadows Into Light', cursive;
font-family: 'Iceberg', cursive;
font-family: 'Monoton', cursive;
font-family: 'Indie Flower', cursive; */



